* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

.screen {
  width: 100%;
  height: 100%;
}

#main {
  width: 100vw;
  height: 100vh;
}

body {
  /* overflow-y: hidden; */
}

.character {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: white;
}

.char-blue {
  background-color: blue;
  width: 4rem;
  height: 4rem;
}

.bar {
  width: 100vw;
  height: 1rem;
}

.green {
  background-color: limegreen;
}

.brown {
  background-color: rgb(126, 89, 71);
}

.char-red {
  background-color: red;
}

.scene {
  height: 100%;
  background-color: rgb(60, 60, 60);
  overflow: hidden;
}

.ground {
  height: 4rem;
  width: 200vw;
}

.surface {
  height: 1rem;
}

.grass {
  background-color: limegreen;
}

.snow {
  background-color: white;
}

.sand {
  background-color: khaki;
}

.dirt {
  background-color: rgb(126, 89, 71);
}

.terrain {
  height: 3rem;
}

.sphere {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  background-color: yellow;
  border: 2px solid black;
}
